body {
    background-image: linear-gradient(to right, black, rgb(83, 83, 83));
    color: white;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rules {
    font-family: cursive;
    width: 30%;
    text-align: center;
    color: rgb(0, 255, 0);
}

#score {
    width: 68%;
    text-align: center;
    background-image: linear-gradient(to right, black, rgb(83, 83, 83));
}

#scoreboard {
    height: 80px;
    width: 300px;
    font-size: 60px;
    background-color: lightgray;
    text-align: center;
}

#game {
    width: 68%;
    background-image: linear-gradient(to right, black, rgb(83, 83, 83));
}

#oppcards {
    text-align: center;
}

#newround {
    margin-top: 40%;
    margin-left: 50%;
    height: 40px;
    font-size: larger;
}

#tricks {
    text-align: center;
}

#commit {
    margin-top: 32%;
    margin-right: 50%;
    margin-bottom: 3px;
    height: 40px;
    width: 156px;
    font-size: larger;
}

#clear {
    height: 40px;
    font-size: larger;
    margin-top: 3px;
}

#yourcards {
    text-align: center;
}

.overdiv {
    float: left;
    height: fit-content
}

.cbidbox {
    height: 80px;
    width: 80px;
    font-size: 60px;
    background-color: lightgray;
    color: red;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
}

.bidbox {
    height: 80px;
    width: 80px;
    font-size: 60px;
    background-color: lightgray;
    color: blue;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.trickbox {
    height: 80px;
    width: 80px;
    font-size: 60px;
    text-align: center;
}

.cbutton {
    margin: auto;
    height: 80px;
    width: 80px;
    font-size: larger;
    border-style: groove;
    border-radius: 40px;
    background-color: rgb(255, 140, 140);
}

.cbutton:disabled {
    pointer-events: none;
}

.cbutton:hover {
    background-color: red;
    color: white;
}

.button {
    margin: auto;
    height: 80px;
    width: 80px;
    font-size: larger;
    border-style: groove;
    border-radius: 40px;
    background-color: rgb(140, 140, 255);
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    background-color: blue;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.3%;
}