body {
    background-image: linear-gradient(to right, black, rgb(83, 83, 83));
    color: white;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
}

h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-bottom: 1px;
}

#rules {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: large;
    width: 25vw;
    height:fit-content;
    text-align: center;
    color: black;
    background-color: transparent;
    margin-top: 0px;
}

#rulebtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:larger;
    font-weight: bolder;
    width: 100%;
    height: 8vw;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 15px;
}

#rulespar {
    margin-top: 0px;
    border-radius: 5px;
    padding: 0.5vh;
}

#score {
    width: 66vw;
    text-align: center;
}

#matchdiv {
    float: right;
    margin-right: 2vw;
    margin-top: 0px;
}

#scorediv {
    margin-left: 2vw;
    margin-top: 0.6vh;
}

#scoreboard {
    height: 5.9vw;
    width: 22vw;
    font-size: 4.4vw;
    background-color: lightgray;
    text-align: center;
    color: black;
}

#matchscore {
    height: 5.9vw;
    width: 22vw;
    font-size: 4.4vw;
    background-color: lightgray;
    text-align: center;
    color: black;
}

#game {
    width: 66vw;
    margin-top: 10px;
}

#oppcards {
    text-align: center;
}

#playcomp {
    margin-top: 8.4vw;
    margin-left: 6.29vw;
    margin-bottom: 0.6vw;
    height: 3vw;
    width: 14.42vw;
    font-size: larger;
    font-weight: bolder;
}

#play2p {
    margin-top: 0.6vw;
    margin-left: 6.29vw;
    height: 3vw;
    width: 14.42vw;
    font-size: larger;
    font-weight: bolder;
}

#tricks {
    text-align: center;
}

#newround {
    margin-top: 5.9vw;
    margin-right: 7.79vw;
    margin-bottom: 0.6vw;
    height: 3vw;
    width: 12.22vw;
    font-size: larger;
    font-weight: bolder;
}

#commit {
    margin-top: 0.6vw;
    margin-right: 7.79vw;
    margin-bottom: 0.6vw;
    height: 3vw;
    width: 12.22vw;
    font-size: larger;
    font-weight: bolder;
}

#newgame {
    height: 3vw;
    font-size: larger;
    font-weight: bolder;
    margin-top: 0.6vw;
    width: 12.22vw;
}

#yourcards {
    text-align: center;
}

.overdiv {
    float: left;
    height: fit-content;
}

.cbidbox {
    height: 5.85vw;
    width: 5.85vw;
    font-size: 4.4vw;
    background-color: lightgray;
    margin-top: 1.8vw;
    text-align: center;
    border-radius: 0.75vw;
}

.bidbox {
    height: 5.85vw;
    width: 5.85vw;
    font-size: 4.4vw;
    background-color: lightgray;
    margin-bottom: 1.8vw;
    text-align: center;
    border-radius: 0.75vw;
}

.trickbox {
    height: 5.85vw;
    width: 5.85vw;
    font-size: 4.4vw;
    text-align: center;
}

.cbutton {
    margin: auto;
    height: 5.9vw;
    width: 5.9vw;
    font-size: larger;
    border-style: groove;
    border-radius: 2.95vw;
    background-color: rgb(255, 140, 140);
}

.cbutton:disabled {
    pointer-events: none;
}

.cbutton:hover {
    background-color: red;
    color: white;
}

.button {
    margin: auto;
    height: 5.9vw;
    width: 5.9vw;
    font-size: larger;
    border-style: groove;
    border-radius: 2.95vw;
    background-color: rgb(140, 140, 255);
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    background-color: blue;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.3%;
}